In [3]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("Read Inside Airbnb data") \
    .getOrCreate()

In [4]:
listings = spark.read.csv("../data/listings.csv.gz", 
    header=True,
    inferSchema=True,
    sep=",", 
    quote='"',
    escape='"', 
    multiLine=True,
    mode="PERMISSIVE" 
)

In [5]:
listings.printSchema()

root
 |-- id: long (nullable = true)
 |-- listing_url: string (nullable = true)
 |-- scrape_id: long (nullable = true)
 |-- last_scraped: date (nullable = true)
 |-- source: string (nullable = true)
 |-- name: string (nullable = true)
 |-- description: string (nullable = true)
 |-- neighborhood_overview: string (nullable = true)
 |-- picture_url: string (nullable = true)
 |-- host_id: integer (nullable = true)
 |-- host_url: string (nullable = true)
 |-- host_name: string (nullable = true)
 |-- host_since: date (nullable = true)
 |-- host_location: string (nullable = true)
 |-- host_about: string (nullable = true)
 |-- host_response_time: string (nullable = true)
 |-- host_response_rate: string (nullable = true)
 |-- host_acceptance_rate: string (nullable = true)
 |-- host_is_superhost: string (nullable = true)
 |-- host_thumbnail_url: string (nullable = true)
 |-- host_picture_url: string (nullable = true)
 |-- host_neighbourhood: string (nullable = true)
 |-- host_listings_count: integer (nullable = true)
 |-- host_total_listings_count: integer (nullable = true)
 |-- host_verifications: string (nullable = true)
 |-- host_has_profile_pic: string (nullable = true)
 |-- host_identity_verified: string (nullable = true)
 |-- neighbourhood: string (nullable = true)
 |-- neighbourhood_cleansed: string (nullable = true)
 |-- neighbourhood_group_cleansed: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- property_type: string (nullable = true)
 |-- room_type: string (nullable = true)
 |-- accommodates: integer (nullable = true)
 |-- bathrooms: double (nullable = true)
 |-- bathrooms_text: string (nullable = true)
 |-- bedrooms: integer (nullable = true)
 |-- beds: integer (nullable = true)
 |-- amenities: string (nullable = true)
 |-- price: string (nullable = true)
 |-- minimum_nights: integer (nullable = true)
 |-- maximum_nights: integer (nullable = true)
 |-- minimum_minimum_nights: integer (nullable = true)
 |-- maximum_minimum_nights: integer (nullable = true)
 |-- minimum_maximum_nights: integer (nullable = true)
 |-- maximum_maximum_nights: integer (nullable = true)
 |-- minimum_nights_avg_ntm: double (nullable = true)
 |-- maximum_nights_avg_ntm: double (nullable = true)
 |-- calendar_updated: string (nullable = true)
 |-- has_availability: string (nullable = true)
 |-- availability_30: integer (nullable = true)
 |-- availability_60: integer (nullable = true)
 |-- availability_90: integer (nullable = true)
 |-- availability_365: integer (nullable = true)
 |-- calendar_last_scraped: date (nullable = true)
 |-- number_of_reviews: integer (nullable = true)
 |-- number_of_reviews_ltm: integer (nullable = true)
 |-- number_of_reviews_l30d: integer (nullable = true)
 |-- availability_eoy: integer (nullable = true)
 |-- number_of_reviews_ly: integer (nullable = true)
 |-- estimated_occupancy_l365d: integer (nullable = true)
 |-- estimated_revenue_l365d: integer (nullable = true)
 |-- first_review: date (nullable = true)
 |-- last_review: date (nullable = true)
 |-- review_scores_rating: double (nullable = true)
 |-- review_scores_accuracy: double (nullable = true)
 |-- review_scores_cleanliness: double (nullable = true)
 |-- review_scores_checkin: double (nullable = true)
 |-- review_scores_communication: double (nullable = true)
 |-- review_scores_location: double (nullable = true)
 |-- review_scores_value: double (nullable = true)
 |-- license: string (nullable = true)
 |-- instant_bookable: string (nullable = true)
 |-- calculated_host_listings_count: integer (nullable = true)
 |-- calculated_host_listings_count_entire_homes: integer (nullable = true)
 |-- calculated_host_listings_count_private_rooms: integer (nullable = true)
 |-- calculated_host_listings_count_shared_rooms: integer (nullable = true)
 |-- reviews_per_month: double (nullable = true)

In [28]:
# 1. Get a non-null picture URL for any property ("picture_url" field)
# Select any non-null picture URL
from pyspark.sql.functions import col

listings \
    .select(col('picture_url')) \
    .dropna() \
    .limit(1) \
    .show(20, truncate = False)

+------------------------------------------------------------------------------------------------------+
|picture_url                                                                                           |
+------------------------------------------------------------------------------------------------------+
|https://a0.muscache.com/pictures/miso/Hosting-13913/original/d755aa6d-cebb-4464-80be-2722c921e8d5.jpeg|
+------------------------------------------------------------------------------------------------------+

In [29]:
# 2. Get number of properties that get more than 10 reviews per month
listings \
    .filter(col('reviews_per_month') > 10) \
    .count()

66

In [30]:
# 3. Get properties that have more bathrooms than bedrooms
listings \
    .filter(col('bathrooms') > col('bedrooms')) \
    .select('name', 'bathrooms', 'bedrooms') \
    .show(10, truncate = False)

+----------------------------------------------+---------+--------+
|name                                          |bathrooms|bedrooms|
+----------------------------------------------+---------+--------+
|Cosy Double studio in Zone 2 Hammersmith (1)  |1.5      |1       |
|LONDON DETACHED HOUSE*ElecGates etc           |2.0      |1       |
|Designer room Park Views 4 mins zone 1 station|1.5      |1       |
|Maisonette in Central London Zone 1           |1.5      |1       |
|West London,loft ensuite, 5min2tube           |1.5      |1       |
|Shoreditch Loft                               |1.5      |1       |
|Five minute walk to South Bank                |1.5      |1       |
|Stunning double room own bathroom             |4.0      |1       |
|Also five minutes to South Bank               |1.5      |1       |
|Studio 20 min from center                     |1.0      |0       |
+----------------------------------------------+---------+--------+
only showing top 10 rows

In [31]:
# 4. Get properties where the price is greater than 5,000. Collect the result as a Python list
# Remember to convert a price into a number first!
from pyspark.sql.functions import regexp_replace

listings_with_price = listings \
  .withColumn('price_numeric', regexp_replace('price', '[$,]', '').cast('float'))

listings_with_price \
    .filter(col('price_numeric') > 5000) \
    .select('name', 'price') \
    .collect()

[Row(name='Room in a cosy flat. Central, clean', price='$8,000.00'),
 Row(name='Spacious Private Ground Floor Room', price='$6,309.00'),
 Row(name='No Longer Available', price='$53,588.00'),
 Row(name='Bright & airy DoubleBed with EnSuite in Zone 2!', price='$74,100.00'),
 Row(name='The Apartments by The Sloane Club, Two Bedroom Apt', price='$7,377.00'),
 Row(name='The Apartments by The Sloane Club, L 2 Bedroom Apt', price='$7,377.00'),
 Row(name='Single room. 7ft x 9ft - Over looking garden', price='$6,523.00'),
 Row(name='Close To London Eye (TUR)', price='$6,666.00'),
 Row(name='Beautiful 2 BR flat in Kilburn with free parking', price='$6,000.00'),
 Row(name='Semi-detached mews house in Knightsbridge.', price='$7,019.00'),
 Row(name='Affordable Spacious  Room on the edge of the city', price='$6,000.00'),
 Row(name='Henry’s Townhouse, London', price='$6,500.00'),
 Row(name='City Suite', price='$5,353.00'),
 Row(name='Hyde Park Suite', price='$5,653.00'),
 Row(name='SHORT WALK TO LONDON EYE - DOUBLE ROOM (SUR)', price='$50,000.00'),
 Row(name='The Presidential - 6 bed - stunning elegance', price='$6,000.00'),
 Row(name='Kensington Penthouse', price='$7,538.00'),
 Row(name='Walk To London Eye - Double Room (FIL)', price='$11,412.00'),
 Row(name='Resolve Apartment', price='$5,240.00'),
 Row(name='Very Large and Splendid Terrace House in London', price='$8,000.00'),
 Row(name='Luxurious penthouse Acton', price='$5,743.00'),
 Row(name='Twin Room Close to London Eye (RHI)', price='$50,000.00'),
 Row(name='Short Walk to London Eye (8V1)', price='$6,900.00'),
 Row(name='Foxter Properties Chelsea', price='$12,000.00'),
 Row(name='Close To London Eye', price='$22,824.00'),
 Row(name='Close To London Eye', price='$65,000.00'),
 Row(name="Stylish Earl's Court Getaway", price='$9,999.00'),
 Row(name='Close to London Eye (BOL)', price='$58,000.00'),
 Row(name='Contemporary Oasis in Paddington II', price='$9,999.00'),
 Row(name='1. V02 Large Apartment; next to Piccadilly Circus!', price='$6,400.00'),
 Row(name='Modern Sky-High Flat In North Acton', price='$9,999.00'),
 Row(name='Zone 1 - Central London (JAM)', price='$25,106.00'),
 Row(name='Your Elite Hyde Park Retreat 2-Bedroom Luxury Flat', price='$10,890.00'),
 Row(name='CentralLondon Luxury for 5! 1Min from Paddington', price='$9,680.00'),
 Row(name='Spacious, airy penthouse with stunning view', price='$30,812.00'),
 Row(name='20% Off Monthly Business Relocation Stays Belsize', price='$15,000.00'),
 Row(name='Ultra Luxe 4 Bed flat in Mayfair', price='$6,000.00'),
 Row(name='Short Walk To London Eye (SUR)', price='$20,000.00'),
 Row(name='Close to The Shard (TAI)', price='$10,001.00'),
 Row(name='London luxury.', price='$9,660.00'),
 Row(name='Walk To London Eye (CAN)', price='$10,307.00'),
 Row(name='Short Walk to London Eye (TOK)', price='$28,000.00'),
 Row(name='The Artists House', price='$15,143.00'),
 Row(name='Walk To London Eye (BLZ)', price='$30,000.00'),
 Row(name='Luxury Grade II Listed Mansion', price='$9,389.00'),
 Row(name='Modern apartment Central London', price='$8,918.00'),
 Row(name='Tranquil 2 Bedroom Apartment in East London', price='$9,999.00'),
 Row(name='Outdoor kitchen', price='$7,034.00'),
 Row(name='Charmante Wohnung mit Balkon', price='$6,924.00'),
 Row(name='Southwood House', price='$9,999.00'),
 Row(name='Silverings', price='$9,999.00'),
 Row(name='Penthouse in the City of London', price='$9,000.00'),
 Row(name='Very Central Room - Walk to Eye', price='$58,000.00'),
 Row(name='Walk To London Eye', price='$6,391.00'),
 Row(name='Walk To London Eye', price='$66,189.00'),
 Row(name='The Prince Albert', price='$12,000.00'),
 Row(name='Corporate ready - Combination of Flats  - Up to 56', price='$8,537.00'),
 Row(name='5 Flats in Building | Zone 1 | 20 Guests | 10 Beds', price='$7,677.00'),
 Row(name='Student Only, En-suite Room at South Bank', price='$8,000.00'),
 Row(name='Standard Double Room Near Ebury Square Gardens LON', price='$11,952.00'),
 Row(name='Stylish 2 Bed Flat in Battersea - Private Balcony', price='$10,004.00'),
 Row(name='One Bedroom Apartment Near Watergate Walk LON', price='$11,952.00'),
 Row(name='Notting Hill The One One One 3', price='$6,924.00'),
 Row(name='Wien Orpington', price='$6,924.00'),
 Row(name='Notting Hill Die Eins Eins Eins 6', price='$6,924.00'),
 Row(name='Notting Hill Die Eins Eins Eins 1', price='$6,924.00'),
 Row(name='Atemberaubende Wohnung, in der Nähe von East.', price='$6,924.00'),
 Row(name='Notting Hill Die Eins Eins Eins 5', price='$6,924.00'),
 Row(name='Notting Hill Die Eins Eins Eins 4', price='$6,924.00'),
 Row(name='Lux 2 Bed in Canary Wharf close to Excel & O2', price='$1,085,147.00'),
 Row(name='Cozy Studio-Nicene House', price='$6,865.00'),
 Row(name='Luxuriöse 2 Bett Wohnung im Hotelstil in Notting.', price='$6,924.00'),
 Row(name='The Lightwell Studio at Bramham Gardens', price='$9,999.00'),
 Row(name='Student Only Bronze Studio IQ\xa0Vega', price='$5,104.00'),
 Row(name='Student Only Bronze Studio UpperLevel Premium View', price='$8,480.00'),
 Row(name='Student Only Premium Ensuite at Drapery Place', price='$8,411.00'),
 Row(name='Student Only, Classic Ensuite Finsbury House', price='$7,448.00'),
 Row(name='Minimalist 2BD Flat near Shoreditch High Street', price='$8,000.00'),
 Row(name='Stylish Family Home with Garden in Peckham Rye', price='$9,999.00'),
 Row(name='Private Penthouse Above the Crowds', price='$9,999.00'),
 Row(name='Chic East London Stay with Outdoor Space', price='$9,999.00'),
 Row(name='ABR - Spacious 2 -Bed Patio Retreat in Kennington', price='$9,999.00'),
 Row(name="Floating on the Thames A Designer's Dream", price='$9,999.00'),
 Row(name='Elegant Fulham Retreat with Private Garden', price='$10,032.00'),
 Row(name='Elegant Queen’s Park Retreat with Balcony', price='$9,999.00'),
 Row(name='Contemporary Stratford Escape', price='$9,999.00'),
 Row(name='Modern Mezzanine Apartment in Covent Garden', price='$9,999.00'),
 Row(name='Bright Two-Bed Flat in Covent Garden', price='$9,999.00'),
 Row(name='Single Semi-Ensuite Room', price='$10,000.00'),
 Row(name='Stylish 3-Bed Home with Garden in Dollis Hill', price='$10,028.00'),
 Row(name='Elegant West London Home with Style', price='$9,999.00'),
 Row(name='Belgravia Living – 2-Bed, 1-Bath Apartment with Ba', price='$10,020.00'),
 Row(name='Belgravia Living – 2-Bed, 1-Bath Belgravia Flat', price='$9,999.00'),
 Row(name='Belgravia Living – Bright 2-Bed, 1-Bath Apartment', price='$9,999.00'),
 Row(name='Belgravia Living – 2-Bed, 1-Bath Home with Balcony', price='$9,999.00'),
 Row(name='Belgravia Base: 2BR Flat Near Victoria Station', price='$9,999.00'),
 Row(name='Central Belgravia 2BR Near Victoria', price='$10,020.00'),
 Row(name='Functional Belgravia 2BR Flat Near Victoria', price='$10,020.00'),
 Row(name='Belgravia Living - Contemporary 2BR Near Victoria', price='$10,020.00'),
 Row(name='Convenient 2BR/1BA Flat in Belgravia', price='$9,999.00'),
 Row(name='Simple Belgravia Base Near Transport', price='$9,999.00'),
 Row(name='\u200bChiswick Studio Retreat with Private Balcony', price='$9,999.00'),
 Row(name='Belgravia 2 BR Hideaway with Balcony', price='$9,999.00'),
 Row(name='Central Belgravia 2BR Near Victoria', price='$9,999.00'),
 Row(name='Stylish London Apartment in Trendy Peckham', price='$9,999.00')]

In [27]:
# 5. Get a list of properties with the following characteristics:
# * price < 150
# * more than 20 reviews
# * review_scores_rating > 4.5
# Consider using the "&" operator
listings_with_price \
    .filter((col('price_numeric') < 150) & (col('number_of_reviews') > 20) & (col('review_scores_rating') > 4.5)) \
    .select('name', 'price', 'number_of_reviews', 'review_scores_rating') \
    .collect()

[Row(name='Holiday London DB Room Let-on going', price='$70.00', number_of_reviews=55, review_scores_rating=4.85),
 Row(name='Bright Chelsea  Apartment. Chelsea!', price='$149.00', number_of_reviews=97, review_scores_rating=4.8),
 Row(name='You are GUARANTEED to love this', price='$90.00', number_of_reviews=730, review_scores_rating=4.87),
 Row(name='SUNNY ROOM PRIVATE BATHROOM PLUS BREAKFAST', price='$61.00', number_of_reviews=387, review_scores_rating=4.77),
 Row(name='SPACIOUS ROOM IN CONTEMPORARY STYLE FLAT', price='$49.00', number_of_reviews=72, review_scores_rating=4.97),
 Row(name='Room with a view, shared flat,  central  Bankside', price='$96.00', number_of_reviews=137, review_scores_rating=4.7),
 Row(name='You Will Save Money Here', price='$71.00', number_of_reviews=639, review_scores_rating=4.89),
 Row(name='Quiet Comfortable Room in Fulham', price='$48.00', number_of_reviews=266, review_scores_rating=4.74),
 Row(name='Pleasant Single Room in zone 1.', price='$50.00', number_of_reviews=456, review_scores_rating=4.81),
 Row(name='Cosy Double studio in Zone 2 Hammersmith (6)', price='$78.00', number_of_reviews=221, review_scores_rating=4.73),
 Row(name='Beautiful Small Studio Hammersmith', price='$79.00', number_of_reviews=263, review_scores_rating=4.71),
 Row(name='Cosy Double studio in Zone 2 Hammersmith (1)', price='$78.00', number_of_reviews=173, review_scores_rating=4.71),
 Row(name='Cosy Double studio in Zone 2 Hammersmith (4)', price='$89.00', number_of_reviews=227, review_scores_rating=4.63),
 Row(name='Cosy Double studio in Zone 2 Hammersmith (3)', price='$79.00', number_of_reviews=229, review_scores_rating=4.69),
 Row(name='NICE FAMILY HOME opposite NATURAL LANDSCAPED PARK', price='$40.00', number_of_reviews=25, review_scores_rating=4.54),
 Row(name='2 bed/2 bath luxury flat with city view!', price='$117.00', number_of_reviews=110, review_scores_rating=4.9),
 Row(name='Double Room 2 Miles from Wimbledon in Morden SM4', price='$35.00', number_of_reviews=169, review_scores_rating=4.9),
 Row(name='Pretty Self Contained Coach House', price='$110.00', number_of_reviews=178, review_scores_rating=4.92),
 Row(name='Clerkenwell penthouse, huge terrace', price='$125.00', number_of_reviews=77, review_scores_rating=4.95),
 Row(name='Designer room Park Views 4 mins zone 1 station', price='$57.00', number_of_reviews=460, review_scores_rating=4.79),
 Row(name='Maisonette in Central London Zone 1', price='$75.00', number_of_reviews=586, review_scores_rating=4.86),
 Row(name='Lovely, spacious  garden apartment.', price='$145.00', number_of_reviews=232, review_scores_rating=4.8),
 Row(name='Cosy, arty flat with roof terraces in Islington', price='$135.00', number_of_reviews=153, review_scores_rating=4.65),
 Row(name='modern self contained flat islington', price='$90.00', number_of_reviews=339, review_scores_rating=4.85),
 Row(name='Lovely Victorian Room Streatham', price='$60.00', number_of_reviews=47, review_scores_rating=4.86),
 Row(name='Gorgeous Victorian Flat LONDON', price='$100.00', number_of_reviews=39, review_scores_rating=4.58),
 Row(name='South Bank Bijou Studio Flat', price='$120.00', number_of_reviews=403, review_scores_rating=4.91),
 Row(name='Lovely large room, Bethnal Green', price='$55.00', number_of_reviews=65, review_scores_rating=4.84),
 Row(name='Double Room (Unavailable for check in 9-11 July)', price='$36.00', number_of_reviews=39, review_scores_rating=4.9),
 Row(name='A stylish Victorian home in West London', price='$135.00', number_of_reviews=103, review_scores_rating=4.86),
 Row(name='Apartment close to centre.', price='$105.00', number_of_reviews=152, review_scores_rating=4.77),
 Row(name='Limehouse London, Spacious Property', price='$76.00', number_of_reviews=60, review_scores_rating=4.55),
 Row(name='Clerkenwell double', price='$83.00', number_of_reviews=50, review_scores_rating=4.68),
 Row(name='Sunny stylish flat, with frequently absent Host', price='$90.00', number_of_reviews=194, review_scores_rating=4.88),
 Row(name='West London,loft ensuite, 5min2tube', price='$58.00', number_of_reviews=189, review_scores_rating=4.7),
 Row(name="A double Room 5mins from King's College Hospital", price='$42.00', number_of_reviews=100, review_scores_rating=4.73),
 Row(name='Bright&Huge room close to Southside Wandsworth', price='$39.00', number_of_reviews=22, review_scores_rating=4.79),
 Row(name='The Residential Suite Above Gallery', price='$131.00', number_of_reviews=235, review_scores_rating=4.74),
 Row(name='Quiet Double Room - Good for walks', price='$70.00', number_of_reviews=276, review_scores_rating=4.85),
 Row(name='Private bathroom & spacious double room', price='$93.00', number_of_reviews=249, review_scores_rating=4.98),
 Row(name='MODERN Self-Contained ARCHITECT FLAT', price='$108.00', number_of_reviews=39, review_scores_rating=4.85),
 Row(name='Penthouse Living in East London', price='$45.00', number_of_reviews=42, review_scores_rating=4.65),
 Row(name='London Whitechapel Room with WIFI', price='$44.00', number_of_reviews=289, review_scores_rating=4.78),
 Row(name='Long Stay Cute Studio zone 1', price='$93.00', number_of_reviews=151, review_scores_rating=4.92),
 Row(name='Private ensuite room in Harringay', price='$54.00', number_of_reviews=100, review_scores_rating=4.89),
 Row(name='Room 20 min from central London', price='$36.00', number_of_reviews=22, review_scores_rating=4.64),
 Row(name='Double room in family house - cost for 1 room only', price='$78.00', number_of_reviews=334, review_scores_rating=4.87),
 Row(name='Bright sunny apartment on garden square', price='$95.00', number_of_reviews=71, review_scores_rating=4.74),
 Row(name='one Double bed room with en-suite facilities', price='$53.00', number_of_reviews=28, review_scores_rating=5.0),
 Row(name='Cozy double room', price='$66.00', number_of_reviews=337, review_scores_rating=4.85),
 Row(name='Five minute walk to South Bank', price='$71.00', number_of_reviews=597, review_scores_rating=4.63),
 Row(name='Stylish Garden Studio | Large Kitchen + Smart TV', price='$100.00', number_of_reviews=53, review_scores_rating=4.52),
 Row(name='Homely room in leafy Ealing.', price='$40.00', number_of_reviews=643, review_scores_rating=4.8),
 Row(name='One Bedroom Apartment', price='$116.00', number_of_reviews=25, review_scores_rating=4.52),
 Row(name='One Bedroom Garden Apartment', price='$142.00', number_of_reviews=21, review_scores_rating=4.57),
 Row(name='Also five minutes to South Bank', price='$66.00', number_of_reviews=563, review_scores_rating=4.63),
 Row(name='Patio Apartment in London (Twickenham)', price='$74.00', number_of_reviews=88, review_scores_rating=4.64),
 Row(name='Studio 20 min from center', price='$50.00', number_of_reviews=44, review_scores_rating=4.55),
 Row(name='Georgian Apartment in Bloomsbury', price='$140.00', number_of_reviews=84, review_scores_rating=4.93),
 Row(name='Spacious luxury 2 bedroom apartment', price='$95.00', number_of_reviews=25, review_scores_rating=4.6),
 Row(name='Stylish apartment in trendy Dalston', price='$117.00', number_of_reviews=37, review_scores_rating=4.86),
 Row(name='Large single bedroom nr Canning Town (7 mins bus)', price='$32.00', number_of_reviews=66, review_scores_rating=4.92),
 Row(name='Single room near Canning Town (7 mins by bus)', price='$37.00', number_of_reviews=63, review_scores_rating=4.83),
 Row(name='A people person awaits you here!', price='$48.00', number_of_reviews=79, review_scores_rating=4.9),
 Row(name='Double room no 1 near Brunel, Uxbridge, Heathrow', price='$45.00', number_of_reviews=127, review_scores_rating=4.83),
 Row(name='A Modern Double Room in Greenwich.', price='$38.00', number_of_reviews=397, review_scores_rating=4.96),
 Row(name="peaceful double room 5mins from King's Hospital", price='$44.00', number_of_reviews=40, review_scores_rating=4.92),
 Row(name='Double Room by Camden Market', price='$97.00', number_of_reviews=70, review_scores_rating=4.74),
 Row(name='safe and spacious room in comfy family home', price='$26.00', number_of_reviews=138, review_scores_rating=4.83),
 Row(name='Hotel-style room in Camden Town', price='$104.00', number_of_reviews=328, review_scores_rating=4.78),
 Row(name='Fantastic location Double room', price='$95.00', number_of_reviews=39, review_scores_rating=4.87),
 Row(name='Stylish, Light Central London Flat', price='$70.00', number_of_reviews=245, review_scores_rating=4.85),
 Row(name='Light spacious apartment', price='$114.00', number_of_reviews=265, review_scores_rating=4.83),
 Row(name='Spacious Double Room (R3)', price='$58.00', number_of_reviews=163, review_scores_rating=4.55),
 Row(name='Superior Boutique Comfort, Amazing Fast Transport', price='$37.00', number_of_reviews=195, review_scores_rating=4.84),
 Row(name='Beautiful warehouse flat in London', price='$95.00', number_of_reviews=31, review_scores_rating=4.7),
 Row(name='Stylish 2 Bed Apartment with Balcony', price='$96.00', number_of_reviews=53, review_scores_rating=4.55),
 Row(name='Shepherds Bush W12 Double/Twin Room', price='$60.00', number_of_reviews=337, review_scores_rating=4.89),
 Row(name='NICE DOUBLE ROOM IN A CLEAN  AND QUIET HOUSE', price='$26.00', number_of_reviews=67, review_scores_rating=4.58),
 Row(name='Homely Twin Room Streatham,London', price='$39.00', number_of_reviews=216, review_scores_rating=4.73),
 Row(name='Homely Triple Room London 2', price='$39.00', number_of_reviews=247, review_scores_rating=4.78),
 Row(name='1 bed flat near city.', price='$103.00', number_of_reviews=80, review_scores_rating=4.83),
 Row(name='Canary Wharf/Excel riverside luxury', price='$135.00', number_of_reviews=21, review_scores_rating=5.0),
 Row(name='Gorgeous double at Camden Market', price='$83.00', number_of_reviews=311, review_scores_rating=4.92),
 Row(name='High rise flat in Angel Islington', price='$99.00', number_of_reviews=73, review_scores_rating=4.72),
 Row(name='Bright airy double room, central', price='$32.00', number_of_reviews=261, review_scores_rating=4.65),
 Row(name='Loft near Canning Town station (7 mins by bus)', price='$36.00', number_of_reviews=111, review_scores_rating=4.8),
 Row(name='Double room in lovely period house - friendly host', price='$37.00', number_of_reviews=96, review_scores_rating=4.97),
 Row(name='London Vauxhall - Excellent Option!', price='$138.00', number_of_reviews=334, review_scores_rating=4.9),
 Row(name='Pristine 5 Star Double Room, 1 Guest, Central W1', price='$115.00', number_of_reviews=157, review_scores_rating=4.84),
 Row(name='Vintage Oasis and Double Room and Peace', price='$51.00', number_of_reviews=157, review_scores_rating=4.88),
 Row(name='Large sunny room, private bathroom, Dalston', price='$54.00', number_of_reviews=250, review_scores_rating=4.85),
 Row(name='White Room in Classic London Town House - Zone 2', price='$90.00', number_of_reviews=60, review_scores_rating=4.7),
 Row(name='Serene Room in Classic London Town House - Zone 2', price='$107.00', number_of_reviews=83, review_scores_rating=4.78),
 Row(name="Large Dble Bdrm TV/Wifi nr NPL & St Mary's Uni", price='$45.00', number_of_reviews=239, review_scores_rating=4.95),
 Row(name='Beautiful Victorian property on historic street', price='$57.00', number_of_reviews=107, review_scores_rating=4.94),
 Row(name='Single bedroom', price='$50.00', number_of_reviews=53, review_scores_rating=4.65),
 Row(name='Single room', price='$50.00', number_of_reviews=151, review_scores_rating=4.61),
 Row(name='Heart of Notting Hill Garden Flat + cats', price='$80.00', number_of_reviews=171, review_scores_rating=4.77),
 Row(name='Small single room', price='$23.00', number_of_reviews=105, review_scores_rating=4.7),
 Row(name='MORDEN London Zone 4, Bright Single Room', price='$20.00', number_of_reviews=37, review_scores_rating=4.86),
 Row(name='Comfortable/Friendly/Double room for 1/Limehouse', price='$38.00', number_of_reviews=179, review_scores_rating=4.94),
 Row(name='Stylish Ensuite Room in house. - Maida Vale.', price='$83.00', number_of_reviews=144, review_scores_rating=4.88),
 Row(name='Double room near tube', price='$50.00', number_of_reviews=73, review_scores_rating=4.99),
 Row(name='Cozy room in lovely area!(Chiswick)', price='$72.00', number_of_reviews=30, review_scores_rating=4.97),
 Row(name='Lovely Twin Room near to Common', price='$85.00', number_of_reviews=66, review_scores_rating=4.88),
 Row(name='Lovely Smart Room', price='$53.00', number_of_reviews=490, review_scores_rating=4.84),
 Row(name='Medium single room', price='$53.00', number_of_reviews=460, review_scores_rating=4.82),
 Row(name='Twin-bedded sitting-room, 2 beds, 1 or 2 guests', price='$64.00', number_of_reviews=451, review_scores_rating=4.86),
 Row(name='Sunny single free WiFi  Nr Richmond', price='$41.00', number_of_reviews=202, review_scores_rating=4.85),
 Row(name='Maida Vale,Double bed with private garden   Zone 2', price='$63.00', number_of_reviews=153, review_scores_rating=4.95),
 Row(name='Private Bedroom & Bathroom Peaceful & Central', price='$81.00', number_of_reviews=270, review_scores_rating=4.72),
 Row(name='Double room in South London', price='$42.00', number_of_reviews=92, review_scores_rating=4.89),
 Row(name='Pimlico Pad', price='$120.00', number_of_reviews=157, review_scores_rating=4.83),
 Row(name='Beautiful Blue Room', price='$59.00', number_of_reviews=29, review_scores_rating=4.89),
 Row(name='garden studio Ealing sleep up to 4', price='$87.00', number_of_reviews=176, review_scores_rating=4.79),
 Row(name='Trendy London Double Room, Cafes and  Transport', price='$49.00', number_of_reviews=50, review_scores_rating=4.74),
 Row(name='Super small double in stunning home', price='$40.00', number_of_reviews=74, review_scores_rating=4.78),
 Row(name="Cosy and central St Luke's/Barbican single room", price='$74.00', number_of_reviews=185, review_scores_rating=4.94),
 Row(name='DYNAMITE views!', price='$110.00', number_of_reviews=37, review_scores_rating=4.7),
 Row(name='Lovely room in Clapton, Hackney E5', price='$73.00', number_of_reviews=66, review_scores_rating=4.77),
 Row(name='Beautiful Penthouse in Clapham', price='$127.00', number_of_reviews=79, review_scores_rating=4.82),
 Row(name='Entire quiet spacious home', price='$105.00', number_of_reviews=293, review_scores_rating=4.84),
 Row(name='Bright Rooftop Nest In Notting Hill', price='$126.00', number_of_reviews=174, review_scores_rating=4.84),
 Row(name='Large Double Room for Short/Long Stay selfcatering', price='$31.00', number_of_reviews=28, review_scores_rating=4.89),
 Row(name='Lovely loft room with stylish en-suite.', price='$66.00', number_of_reviews=44, review_scores_rating=5.0),
 Row(name='Lovely 2 bedroom flat near Brixton, zone 2, London', price='$135.00', number_of_reviews=23, review_scores_rating=4.77),
 Row(name='Hackney Stylish & light 1 bedroom Victorian flat', price='$123.00', number_of_reviews=152, review_scores_rating=4.65),
 Row(name='Large double bedroom in Shoreditch w/garden', price='$127.00', number_of_reviews=40, review_scores_rating=4.9),
 Row(name='Double Room and Workspace in spacious Garden Flat', price='$54.00', number_of_reviews=254, review_scores_rating=4.75),
 Row(name='Sunny double room/balcony/shower/wc', price='$55.00', number_of_reviews=260, review_scores_rating=4.96),
 Row(name='London, Ealing, W13 Artists Home', price='$80.00', number_of_reviews=97, review_scores_rating=4.99),
 Row(name='Attic Room in historic Greenwich', price='$41.00', number_of_reviews=335, review_scores_rating=4.79),
 Row(name='202 double room shower Soho comfy', price='$90.00', number_of_reviews=537, review_scores_rating=4.58),
 Row(name='Dream Apartment in central London', price='$62.00', number_of_reviews=542, review_scores_rating=4.83),
 Row(name="Architect's pub conversion, London", price='$78.00', number_of_reviews=75, review_scores_rating=4.76),
 Row(name='Ensuite room in artist lofty studio', price='$120.00', number_of_reviews=117, review_scores_rating=4.97),
 Row(name='Spacious Double/Triple near Common', price='$85.00', number_of_reviews=75, review_scores_rating=4.79),
 Row(name='Stunning large room (double sofa bed), Hackney, E9', price='$76.00', number_of_reviews=112, review_scores_rating=4.95),
 Row(name='Peaceful loft in the trendy East End', price='$70.00', number_of_reviews=266, review_scores_rating=4.9),
 Row(name='Great apartment in Hackney.', price='$77.00', number_of_reviews=67, review_scores_rating=4.86),
 Row(name='Double Room Suiting Female Visitors to London', price='$43.00', number_of_reviews=57, review_scores_rating=4.96),
 Row(name='Great Quirky Twin room in Wimbledon', price='$67.00', number_of_reviews=28, review_scores_rating=4.7),
 Row(name='Surprisingly Spacious & Stylish 2 Bed, 2 Bath Flat', price='$127.00', number_of_reviews=281, review_scores_rating=4.78),
 Row(name='En-suite room in modern 2 bed flat', price='$68.00', number_of_reviews=239, review_scores_rating=4.91),
 Row(name='Double bedroom overlooking garden', price='$69.00', number_of_reviews=540, review_scores_rating=4.84),
 Row(name='Double Room in Penthouse Flat', price='$135.00', number_of_reviews=125, review_scores_rating=4.54),
 Row(name='Double Room in lovely family home', price='$56.00', number_of_reviews=139, review_scores_rating=4.97),
 Row(name='Comfortable room to stay in London.', price='$37.00', number_of_reviews=41, review_scores_rating=4.95),
 Row(name='WOW London Garden  Apartment', price='$137.00', number_of_reviews=115, review_scores_rating=4.83),
 Row(name='Cosy Double Room Central Kingston SW London', price='$53.00', number_of_reviews=132, review_scores_rating=4.74),
 Row(name='London Bridge spacious apartment', price='$129.00', number_of_reviews=82, review_scores_rating=4.93),
 Row(name='Central flat  Bankside  London Bridge Tate Modern', price='$140.00', number_of_reviews=59, review_scores_rating=4.58),
 Row(name='Charming loft in NW3 mews close Belsize Park tube', price='$129.00', number_of_reviews=153, review_scores_rating=4.51),
 Row(name='Sunny and peaceful loft studio London W12', price='$66.00', number_of_reviews=67, review_scores_rating=4.94),
 Row(name='Twin Room in Shoreditch', price='$49.00', number_of_reviews=161, review_scores_rating=4.56),
 Row(name='Modern & bright flat near Portobello market', price='$135.00', number_of_reviews=168, review_scores_rating=4.8),
 Row(name='Bright single room (Women only)', price='$69.00', number_of_reviews=42, review_scores_rating=4.62),
 Row(name='Peaceful retreat  to Central London', price='$55.00', number_of_reviews=32, review_scores_rating=4.87),
 Row(name='Single room North London', price='$38.00', number_of_reviews=239, review_scores_rating=4.82),
 Row(name='Cosy room in shared Edwardian house', price='$38.00', number_of_reviews=134, review_scores_rating=4.73),
 Row(name='Boutique double room with desk. Homerton, Hackney.', price='$55.00', number_of_reviews=27, review_scores_rating=4.96),
 Row(name="'Vie de Boheme' in Central London", price='$119.00', number_of_reviews=55, review_scores_rating=4.91),
 Row(name='Still the green side of Camden - Primrose Hill', price='$100.00', number_of_reviews=57, review_scores_rating=4.96),
 Row(name='Double room in lovely north London flat', price='$42.00', number_of_reviews=90, review_scores_rating=4.81),
 Row(name='Nice Room in Verdent Lane, Catford', price='$37.00', number_of_reviews=187, review_scores_rating=4.76),
 Row(name='lovely private attic room with road and sky view', price='$41.00', number_of_reviews=314, review_scores_rating=4.95),
 Row(name='GREAT VALUE ROOM- SAVE £££££', price='$39.00', number_of_reviews=259, review_scores_rating=4.86),
 Row(name='B&B with en-suite shower in a friendly family home', price='$56.00', number_of_reviews=164, review_scores_rating=4.96),
 Row(name='Large bright dbl rm w-hampstead-1', price='$55.00', number_of_reviews=38, review_scores_rating=4.76),
 Row(name='Self-catering room in Belsize Park', price='$65.00', number_of_reviews=137, review_scores_rating=4.97),

In [25]:
# 6. Get a list of properties with the following characteristics:
# * price < 150 OR more than one bathroom
# Use the "|" operator to implement the OR operator
listings_with_price \
    .filter((col('price_numeric') < 150) | (col('bathrooms') > 1)) \
    .select('name', 'price', 'bathrooms') \
    .collect()

[Row(name='Holiday London DB Room Let-on going', price='$70.00', bathrooms=1.0),
 Row(name='Bright Chelsea  Apartment. Chelsea!', price='$149.00', bathrooms=1.0),
 Row(name='Very Central Modern 3-Bed/2 Bath By Oxford St W1', price='$411.00', bathrooms=2.0),
 Row(name='Kew Gardens 3BR house in cul-de-sac', price='$280.00', bathrooms=1.5),
 Row(name='You are GUARANTEED to love this', price='$90.00', bathrooms=0.0),
 Row(name='SUNNY ROOM PRIVATE BATHROOM PLUS BREAKFAST', price='$61.00', bathrooms=1.0),
 Row(name='Short Term Home', price='$340.00', bathrooms=2.0),
 Row(name='SPACIOUS ROOM IN CONTEMPORARY STYLE FLAT', price='$49.00', bathrooms=1.0),
 Row(name='Room with a view, shared flat,  central  Bankside', price='$96.00', bathrooms=1.0),
 Row(name='You Will Save Money Here', price='$71.00', bathrooms=1.0),
 Row(name='Quiet Comfortable Room in Fulham', price='$48.00', bathrooms=1.0),
 Row(name='Room with a garden', price='$76.00', bathrooms=1.0),
 Row(name='Pleasant Single Room in zone 1.', price='$50.00', bathrooms=1.0),
 Row(name='Cosy Double studio in Zone 2 Hammersmith (6)', price='$78.00', bathrooms=1.0),
 Row(name='Beautiful Small Studio Hammersmith', price='$79.00', bathrooms=1.0),
 Row(name='Close to Wimbledon All England Tennis -huge double', price='$86.00', bathrooms=1.0),
 Row(name='Cosy Double studio in Zone 2 Hammersmith (1)', price='$78.00', bathrooms=1.5),
 Row(name='Cosy Double studio in Zone 2 Hammersmith (4)', price='$89.00', bathrooms=1.0),
 Row(name='Cosy Double studio in Zone 2 Hammersmith (3)', price='$79.00', bathrooms=1.0),
 Row(name='NICE FAMILY HOME opposite NATURAL LANDSCAPED PARK', price='$40.00', bathrooms=1.0),
 Row(name='Spacious single room in quiet flat', price='$53.00', bathrooms=1.0),
 Row(name='2 bed/2 bath luxury flat with city view!', price='$117.00', bathrooms=2.0),
 Row(name='Peaceful Room Near Epping Forest', price='$106.00', bathrooms=1.0),
 Row(name='Double Room 2 Miles from Wimbledon in Morden SM4', price='$35.00', bathrooms=1.0),
 Row(name='Pretty Self Contained Coach House', price='$110.00', bathrooms=1.0),
 Row(name='Family-friendly Airbnb in Fitzrovia', price='$417.00', bathrooms=2.0),
 Row(name='Clerkenwell penthouse, huge terrace', price='$125.00', bathrooms=1.0),
 Row(name='LONDON DETACHED HOUSE*ElecGates etc', price='$217.00', bathrooms=2.0),
 Row(name='Spacious Bright Room in SE3', price='$43.00', bathrooms=1.0),
 Row(name='Designer room Park Views 4 mins zone 1 station', price='$57.00', bathrooms=1.5),
 Row(name='Maisonette in Central London Zone 1', price='$75.00', bathrooms=1.5),
 Row(name='Lovely, spacious  garden apartment.', price='$145.00', bathrooms=1.0),
 Row(name='Cosy, arty flat with roof terraces in Islington', price='$135.00', bathrooms=1.0),
 Row(name='Luxury En-suite Room near Tube and River', price='$80.00', bathrooms=1.0),
 Row(name='modern self contained flat islington', price='$90.00', bathrooms=1.0),
 Row(name='Shown on T.V! Notting Hill Oasis', price='$350.00', bathrooms=2.0),
 Row(name='Lovely Victorian Room Streatham', price='$60.00', bathrooms=1.0),
 Row(name='Gorgeous Victorian Flat LONDON', price='$100.00', bathrooms=1.0),
 Row(name='South Bank Bijou Studio Flat', price='$120.00', bathrooms=1.0),
 Row(name='Lovely large room, Bethnal Green', price='$55.00', bathrooms=None),
 Row(name='Double Room (Unavailable for check in 9-11 July)', price='$36.00', bathrooms=1.0),
 Row(name='A stylish Victorian home in West London', price='$135.00', bathrooms=1.0),
 Row(name='Contemporary central London apt', price='$156.00', bathrooms=1.5),
 Row(name='Apartment close to centre.', price='$105.00', bathrooms=1.0),
 Row(name='Limehouse London, Spacious Property', price='$76.00', bathrooms=1.0),
 Row(name='Clerkenwell double', price='$83.00', bathrooms=1.0),
 Row(name='Sunny stylish flat, with frequently absent Host', price='$90.00', bathrooms=1.0),
 Row(name='West London,loft ensuite, 5min2tube', price='$58.00', bathrooms=1.5),
 Row(name="A double Room 5mins from King's College Hospital", price='$42.00', bathrooms=1.0),
 Row(name='Bright&Huge room close to Southside Wandsworth', price='$39.00', bathrooms=None),
 Row(name='The Residential Suite Above Gallery', price='$131.00', bathrooms=1.0),
 Row(name='Newly refurbished 2-bed apartment', price='$151.00', bathrooms=1.5),
 Row(name='Quiet Double Room - Good for walks', price='$70.00', bathrooms=1.0),
 Row(name='Private bathroom & spacious double room', price='$93.00', bathrooms=1.0),
 Row(name='MODERN Self-Contained ARCHITECT FLAT', price='$108.00', bathrooms=1.0),
 Row(name='Penthouse Living in East London', price='$45.00', bathrooms=1.0),
 Row(name='London Whitechapel Room with WIFI', price='$44.00', bathrooms=1.0),
 Row(name='LOVELY & COZY ROOM WITH KITCHENETTE', price='$23.00', bathrooms=1.0),
 Row(name='Long Stay Cute Studio zone 1', price='$93.00', bathrooms=1.0),
 Row(name='Private ensuite room in Harringay', price='$54.00', bathrooms=1.0),
 Row(name='Room 20 min from central London', price='$36.00', bathrooms=None),
 Row(name='Double room in family house - cost for 1 room only', price='$78.00', bathrooms=1.0),
 Row(name='Shoreditch Loft', price='$151.00', bathrooms=1.5),
 Row(name='Bright sunny apartment on garden square', price='$95.00', bathrooms=1.0),
 Row(name='one Double bed room with en-suite facilities', price='$53.00', bathrooms=1.0),
 Row(name='Cozy double room', price='$66.00', bathrooms=1.0),
 Row(name='Five minute walk to South Bank', price='$71.00', bathrooms=1.5),
 Row(name='Private room in London & cultural Islington', price='$50.00', bathrooms=1.0),
 Row(name='Beautiful house in trendy E. London', price='$250.00', bathrooms=2.5),
 Row(name='Stunning double room own bathroom', price='$380.00', bathrooms=4.0),
 Row(name='Stylish Garden Studio | Large Kitchen + Smart TV', price='$100.00', bathrooms=1.0),
 Row(name='Beautiful House Lower Clapton Hackney with garden', price='$160.00', bathrooms=1.5),
 Row(name='Homely room in leafy Ealing.', price='$40.00', bathrooms=1.0),
 Row(name='2 Bedroom London East End Apartment', price='$130.00', bathrooms=1.0),
 Row(name='Huge Four Bedroom Apartment', price='$303.00', bathrooms=2.0),
 Row(name='One Bedroom Apartment', price='$116.00', bathrooms=1.0),
 Row(name='Spacious refurbished 2 bedroom apt with balcony', price='$187.00', bathrooms=2.0),
 Row(name='Two Bedrooms Garden Maisonette', price='$148.00', bathrooms=2.0),
 Row(name='One Bedroom Garden Apartment', price='$142.00', bathrooms=1.0),
 Row(name='Four Bedroom Garden Apartment', price='$235.00', bathrooms=2.0),
 Row(name='Huge Three Bedroom Flat with parking and terrace', price='$236.00', bathrooms=2.0),
 Row(name='Also five minutes to South Bank', price='$66.00', bathrooms=1.5),
 Row(name='Patio Apartment in London (Twickenham)', price='$74.00', bathrooms=1.0),
 Row(name='Studio 20 min from center', price='$50.00', bathrooms=1.0),
 Row(name='Great location, direct links to London Bridge!', price='$112.00', bathrooms=1.0),
 Row(name='2 Bedroom  Cottage (E) with garden London', price='$122.00', bathrooms=1.0),
 Row(name='Georgian Apartment in Bloomsbury', price='$140.00', bathrooms=1.0),
 Row(name='Spacious luxury 2 bedroom apartment', price='$95.00', bathrooms=1.5),
 Row(name='Stylish apartment in trendy Dalston', price='$117.00', bathrooms=1.0),
 Row(name='Large single bedroom nr Canning Town (7 mins bus)', price='$32.00', bathrooms=1.0),
 Row(name='Single room near Canning Town (7 mins by bus)', price='$37.00', bathrooms=1.5),
 Row(name='Single Room in Creative House', price='$40.00', bathrooms=1.0),
 Row(name='Home from Home in the heart of London', price='$118.00', bathrooms=1.0),
 Row(name='A people person awaits you here!', price='$48.00', bathrooms=1.0),
 Row(name='london is waiting for you', price='$57.00', bathrooms=None),
 Row(name='Stylish 3 Bed 2 Bath Apartment Gdn + cafe culture', price='$189.00', bathrooms=2.0),
 Row(name='Spacious Double Room in East London', price='$41.00', bathrooms=0.0),
 Row(name='4 bedroom (+nursery) designer pad Belsize Park', price='$529.00', bathrooms=2.5),
 Row(name='Double room no 1 near Brunel, Uxbridge, Heathrow', price='$45.00', bathrooms=1.0),
 Row(name='A Modern Double Room in Greenwich.', price='$38.00', bathrooms=1.0),
 Row(name="peaceful double room 5mins from King's Hospital", price='$44.00', bathrooms=1.0),
 Row(name='LUXURIOUS  APART.30 MIN LONDON', price='$429.00', bathrooms=3.0),
 Row(name='Comfy Family Home in London', price='$219.00', bathrooms=1.5),
 Row(name='Double Room by Camden Market', price='$97.00', bathrooms=1.0),
 Row(name='safe and spacious room in comfy family home', price='$26.00', bathrooms=1.0),
 Row(name='Hotel-style room in Camden Town', price='$104.00', bathrooms=1.0),
 Row(name='Fantastic location Double room', price='$95.00', bathrooms=1.0),
 Row(name='Double Room in a Family House in Clapham/Battersea', price='$70.00', bathrooms=1.0),
 Row(name='Stylish, Light Central London Flat', price='$70.00', bathrooms=1.0),
 Row(name='Light spacious apartment', price='$114.00', bathrooms=1.0),
 Row(name='Spacious Double Room (R3)', price='$58.00', bathrooms=2.0),
 Row(name='Superior Boutique Comfort, Amazing Fast Transport', price='$37.00', bathrooms=2.0),
 Row(name='Beautiful warehouse flat in London', price='$95.00', bathrooms=1.0),
 Row(name='Stylish 2 Bed Apartment with Balcony', price='$96.00', bathrooms=1.0),
 Row(name='Shepherds Bush W12 Double/Twin Room', price='$60.00', bathrooms=1.0),
 Row(name='NICE DOUBLE ROOM IN A CLEAN  AND QUIET HOUSE', price='$26.00', bathrooms=1.5),
 Row(name='Chiswick: Luxury 2 bed maisonette', price='$198.00', bathrooms=2.0),
 Row(name='Homely Twin Room Streatham,London', price='$39.00', bathrooms=1.5),
 Row(name='Homely Triple Room London 2', price='$39.00', bathrooms=1.5),
 Row(name='1 bed flat near city.', price='$103.00', bathrooms=1.0),
 Row(name='Luxury, Newly Renovated Chelsea Apartment', price='$200.00', bathrooms=2.5),
 Row(name='Canary Wharf/Excel riverside luxury', price='$135.00', bathrooms=1.0),
 Row(name='Gorgeous double at Camden Market', price='$83.00', bathrooms=1.5),
 Row(name='High rise flat in Angel Islington', price='$99.00', bathrooms=1.0),
 Row(name='Bright airy double room, central', price='$32.00', bathrooms=0.5),
 Row(name='Loft near Canning Town station (7 mins by bus)', price='$36.00', bathrooms=1.0),
 Row(name='Double room in lovely period house - friendly host', price='$37.00', bathrooms=1.0),
 Row(name='London Vauxhall - Excellent Option!', price='$138.00', bathrooms=1.0),
 Row(name='Pristine 5 Star Double Room, 1 Guest, Central W1', price='$115.00', bathrooms=1.0),
 Row(name='Camden Town Duplex, with Downtown City Views', price='$192.00', bathrooms=1.5),
 Row(name='Luxury Central London House with Gym and Reformer', price='$420.00', bathrooms=2.0),
 Row(name='Unique Stylish Flat-Great Location!', price='$86.00', bathrooms=1.0),
 Row(name='Vintage Oasis and Double Room and Peace', price='$51.00', bathrooms=1.0),
 Row(name='Large sunny room, private bathroom, Dalston', price='$54.00', bathrooms=1.0),
 Row(name='Cosy Town house with garden in London, Hackney', price='$275.00', bathrooms=2.0),
 Row(name='2 Bedroom Garden Flat near Richmond', price='$223.00', bathrooms=2.0),
 Row(name='White Room in Classic London Town House - Zone 2', price='$90.00', bathrooms=2.0),
 Row(name='Serene Room in Classic London Town House - Zone 2', price='$107.00', bathrooms=2.0),
 Row(name='Victorian Room in Classic London Townhouse -Zone 2', price='$81.00', bathrooms=2.0),
 Row(name='Stunning Bright flat', price='$97.00', bathrooms=1.0),
 Row(name="Large Dble Bdrm TV/Wifi nr NPL & St Mary's Uni", price='$45.00', bathrooms=1.0),
 Row(name='Beautiful Victorian property on historic street', price='$57.00', bathrooms=1.0),
 Row(name='Single bedroom', price='$50.00', bathrooms=1.0),
 Row(name='Single room', price='$50.00', bathrooms=1.0),
 Row(name='Heart of Notting Hill Garden Flat + cats', price='$80.00', bathrooms=1.0),
 Row(name='Sunny dbl+parking nr Brixton market', price='$51.00', bathrooms=1.0),
 Row(name='Small single room', price='$23.00', bathrooms=1.0),
 Row(name='MORDEN London Zone 4, Bright Single Room', price='$20.00', bathrooms=1.0),
 Row(name='Lovely family house. Up to 7 guests', price='$180.00', bathrooms=2.0),
 Row(name='Comfortable/Friendly/Double room for 1/Limehouse', price='$38.00', bathrooms=1.0),
 Row(name='Stylish Ensuite Room in house. - Maida Vale.', price='$83.00', bathrooms=1.0),
 Row(name='Double room near tube', price='$50.00', bathrooms=1.0),
 Row(name='Cozy room in lovely area!(Chiswick)', price='$72.00', bathrooms=1.0),
 Row(name='Lovely Twin Room near to Common', price='$85.00', bathrooms=1.0),
 Row(name='Lovely Smart Room', price='$53.00', bathrooms=1.5),
 Row(name='Medium single room', price='$53.00', bathrooms=1.5),
 Row(name='Twin-bedded sitting-room, 2 beds, 1 or 2 guests', price='$64.00', bathrooms=1.0),
 Row(name='Sunny single free WiFi  Nr Richmond', price='$41.00', bathrooms=1.0),
 Row(name='Maida Vale,Double bed with private garden   Zone 2', price='$63.00', bathrooms=1.0),
 Row(name='Private Bedroom & Bathroom Peaceful & Central', price='$81.00', bathrooms=1.0),
 Row(name='Attractive, comfy single in Eltham', price='$33.00', bathrooms=1.5),
 Row(name='Double room in South London', price='$42.00', bathrooms=1.5),
 Row(name='Pimlico Pad', price='$120.00', bathrooms=2.0),
 Row(name='Beautiful Blue Room', price='$59.00', bathrooms=1.0),
 Row(name='Double bed with private bathroom-C. London 20min', price='$63.00', bathrooms=1.0),
 Row(name='garden studio Ealing sleep up to 4', price='$87.00', bathrooms=1.0),
 Row(name='Trendy London Double Room, Cafes and  Transport', price='$49.00', bathrooms=1.0),
 Row(name='Newly Decorated Rooms with Double Beds', price='$39.00', bathrooms=1.0),
 Row(name='Super small double in stunning home', price='$40.00', bathrooms=1.5),
 Row(name='Bright & beautiful 3-bed/2-bath near Portobello Rd', price='$345.00', bathrooms=2.0),
 Row(name='Beautiful East London Apartment', price='$135.00', bathrooms=1.0),
 Row(name="Cosy and central St Luke's/Barbican single room", price='$74.00', bathrooms=1.0),
 Row(name='Room available from 2022 is 3rd photo.', price='$114.00', bathrooms=1.0),
 Row(name='South Kensington premier location', price='$195.00', bathrooms=2.0),
 Row(name='Loft Extravaganza', price='$38.00', bathrooms=1.0),
 Row(name='DYNAMITE views!', price='$110.00', bathrooms=1.0),
 Row(name='Lovely room in Clapton, Hackney E5', price='$73.00', bathrooms=1.0),
 Row(name='Beautiful Penthouse in Clapham', price='$127.00', bathrooms=1.0),
 Row(name='Entire quiet spacious home', price='$105.00', bathrooms=1.0),
 Row(name='Bright Rooftop Nest In Notting Hill', price='$126.00', bathrooms=1.0),
 Row(name='Large Double Room for Short/Long Stay selfcatering', price='$31.00', bathrooms=2.5),
 Row(name='QUEENS PARK / KILBURN FLAT', price='$83.00', bathrooms=1.5),
 Row(name='Lovely loft room with stylish en-suite.', price='$66.00', bathrooms=2.5),
 Row(name='Lovely, Comfi and Cozy room for two', price='$23.00', bathrooms=1.0),
 Row(name='Great Camden flat near Hampstead Heath', price='$85.00', bathrooms=1.0),
 Row(name='Lovely 2 bedroom flat near Brixton, zone 2, London', price='$135.00', bathrooms=2.0),
 Row(name='Hackney Stylish & light 1 bedroom Victorian flat', price='$123.00', bathrooms=1.0),
 Row(name='1bed flat, Vauxhall, Central London', price='$149.00', bathrooms=1.0),
 Row(name='Large double bedroom in Shoreditch w/garden', price='$127.00', bathrooms=1.5),
 Row(name='Bedroom In Great Location Stratford', price='$52.00', bathrooms=1.5),
 Row(name='Double Room and Workspace in spacious Garden Flat', price='$54.00', bathrooms=1.0),
 Row(name='Sunny double room/balcony/shower/wc', price='$55.00', bathrooms=1.0),
 Row(name='London, Ealing, W13 Artists Home', price='$80.00', bathrooms=1.0),
 Row(name='Attic Room in historic Greenwich', price='$41.00', bathrooms=1.0),
 Row(name='Very Central! Bayswater Apartment', price='$587.00', bathrooms=2.0),
 Row(name='202 double room shower Soho comfy', price='$90.00', bathrooms=1.0),
 Row(name='Dream Apartment in central London', price='$62.00', bathrooms=1.0),
 Row(name="Architect's pub conversion, London", price='$78.00', bathrooms=1.0),
 Row(name='Ensuite room in artist lofty studio', price='$120.00', bathrooms=1.0),
 Row(name='800 ft² Riverside Stylish Private 2BED/2BATH SUITE', price='$154.00', bathrooms=2.0),
 Row(name='Stay with us and Experience London!', price='$41.00', bathrooms=1.5),
 Row(name='Spacious Double/Triple near Common', price='$85.00', bathrooms=1.0),
 Row(name='Stunning large room (double sofa bed), Hackney, E9', price='$76.00', bathrooms=1.5),
 Row(name='Adorable Big 2Bedroom/2Bathroom Battersea on River', price='$136.00', bathrooms=2.0),
 Row(name='2BDR Riverside Suite in Battersea-private entrance', price='$153.00', bathrooms=2.0),
 Row(name='Elegant, Boutique Apartment w/ roof terraces', price='$290.00', bathrooms=3.0),
 Row(name='Peaceful loft in the trendy East End', price='$70.00', bathrooms=1.0),
 Row(name='Great apartment in Hackney.', price='$77.00', bathrooms=1.0),
 Row(name='Double Room Suiting Female Visitors to London', price='$43.00', bathrooms=1.0),
 Row(name='A Self Contained Compact Ensuite Unit 400+ reviews', price='$67.00', bathrooms=1.0),
 Row(name='3 bed House, Hackney, Victoria park E9', price='$238.00', bathrooms=1.5),
 Row(name='Double Room in Victorian Terrace', price='$100.00', bathrooms=1.0),
 Row(name='Great Quirky Twin room in Wimbledon', price='$67.00', bathrooms=1.5),
 Row(name='Comfy Master Twin Room in Wimbledon', price='$55.00', bathrooms=1.5),
 Row(name='Comfy B&B with Wifi & TV Wimbledon', price='$55.00', bathrooms=1.5),
 Row(name='Fun Summer Garden Room - Wimbledon', price='$52.00', bathrooms=1.5),
 Row(name='** OFFER! Modern and quiet, near Highgate Woods **', price='$105.00', bathrooms=1.0),
 Row(name='Surprisingly Spacious & Stylish 2 Bed, 2 Bath Flat', price='$127.00', bathrooms=2.0),
 Row(name='Exceptional garden maisonette', price='$175.00', bathrooms=1.5),
 Row(name='ATTRACTIVE FLAT WITH ROOMS 4 RENTAL', price='$28.00', bathrooms=1.0),
 Row(name='En-suite room in modern 2 bed flat', price='$68.00', bathrooms=1.0),
 Row(name='Double bedroom overlooking garden', price='$69.00', bathrooms=1.5),
 Row(name='East London flat on the Canal', price='$55.00', bathrooms=1.5),
 Row(name='Double Room in Penthouse Flat', price='$135.00', bathrooms=1.0),
 Row(name='A Unique & Spacious Urban Sanctuary', price='$600.00', bathrooms=2.5),
 Row(name='Double Room in lovely family home', price='$56.00', bathrooms=1.0),
 Row(name='Bridgerton inspired cottage core apartment', price='$91.00', bathrooms=1.0),
 Row(name='Comfortable room to stay in London.', price='$37.00', bathrooms=1.5),
 Row(name='Spacious Room in Limehouse, near QMUL', price='$61.00', bathrooms=1.5),
 Row(name='WOW London Garden  Apartment', price='$137.00', bathrooms=2.5),
 Row(name='Triple room for cheap price in London', price='$63.00', bathrooms=3.0),
 Row(name='Cosy Double Room Central Kingston SW London', price='$53.00', bathrooms=1.0),
 Row(name='London Bridge spacious apartment', price='$129.00', bathrooms=1.0),
 Row(name='Chiswick Place - Home for up to 3 guests', price='$82.00', bathrooms=1.0),
 Row(name='Central flat  Bankside  London Bridge Tate Modern', price='$140.00', bathrooms=1.0),
 Row(name='Charming loft in NW3 mews close Belsize Park tube', price='$129.00', bathrooms=1.0),
 Row(name='Sunny and peaceful loft studio London W12', price='$66.00', bathrooms=1.5),
 Row(name='Stylish Spacious Apartment in Battersea', price='$130.00', bathrooms=1.0),
 Row(name='Twin Room in Shoreditch', price='$49.00', bathrooms=1.0),
 Row(name='Modern & bright flat near Portobello market', price='$135.00', bathrooms=1.0),
 Row(name='Bright single room (Women only)', price='$69.00', bathrooms=1.0),
 Row(name='Room to let for short stay', price='$60.00', bathrooms=None),

In [32]:
# 7. Get the highest listing price in this dataset
# Consider using the "max" function from "pyspark.sql.functions"
from pyspark.sql.functions import max

listings_with_price \
    .select(max(col('price_numeric'))) \
    .show()

+------------------+
|max(price_numeric)|
+------------------+
|         1085147.0|
+------------------+

In [ ]:
# 8. Get the name and a price of property with the highest price
# Try to use "collect" method to get the highest price first, and then use it in a "filter" call 
from pyspark.sql.functions import max

res = listings_with_price \
    .select(max('price_numeric').alias('max_price')) \
    .collect()

max_price = res[0]['max_price']

listings_with_price \
    .filter(col('price_numeric') == max_price) \
    .select('name', 'price_numeric') \
    .show()

AnalysisException: [MISSING_GROUP_BY] The query does not include a GROUP BY clause. Add GROUP BY or turn it into the window functions using OVER clauses. SQLSTATE: 42803;
Aggregate [name#5, max(price_numeric#339) AS max(price_numeric)#354]
+- Project [id#0L, listing_url#1, scrape_id#2L, last_scraped#3, source#4, name#5, description#6, neighborhood_overview#7, picture_url#8, host_id#9, host_url#10, host_name#11, host_since#12, host_location#13, host_about#14, host_response_time#15, host_response_rate#16, host_acceptance_rate#17, host_is_superhost#18, host_thumbnail_url#19, host_picture_url#20, host_neighbourhood#21, host_listings_count#22, host_total_listings_count#23, host_verifications#24, ... 55 more fields]
   +- Relation [id#0L,listing_url#1,scrape_id#2L,last_scraped#3,source#4,name#5,description#6,neighborhood_overview#7,picture_url#8,host_id#9,host_url#10,host_name#11,host_since#12,host_location#13,host_about#14,host_response_time#15,host_response_rate#16,host_acceptance_rate#17,host_is_superhost#18,host_thumbnail_url#19,host_picture_url#20,host_neighbourhood#21,host_listings_count#22,host_total_listings_count#23,host_verifications#24,... 54 more fields] csv

In [15]:
# 9. Get the number of hosts in the dataset

In [16]:
# 10. Get listings with a first review in 2024
# Consider using the "year" function from "pyspark.sql.functions"